.list {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    text-align: start;
}

.content {
    white-space: normal;
    line-height: 20px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.card-title {
    text-align: left;
    font-size: 17px;
    letter-spacing: 0px;
    color: #303f60;
    opacity: 1;
    font-weight: bold;
}


.card-subtitle{
    color: #303F60;
    font-size: 14px;
}